:root {
  --font-timer: 'Sacramento', cursive;
  --font-body: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-body);
}

/* ******* Inicio Header ************** */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: thin solid #d04643;
  padding-right: 2rem;
  padding-left: 2rem;
  height: 3rem;
}

.header__login,
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__login-icon,
.header__logo-icon {
  margin-right: 0.8rem;
  color: #d04643;
}
/* ******* Fin Header ************** */
/* ******* inicio timer ******** */
.display {
  background: #d04643;
  padding: 1rem;
  color: white;
  height: 17rem;
  border-radius: 10px;
  margin-bottom: 3rem;
}

.bloque-time-work,
.bloque-time-rest {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: var(--font-timer);
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.btn-start {
  margin-right: 1rem;
  width: 15rem;
}

.btn-stop {
  width: 15rem;
}

.puntos {
  margin-right: 1rem;
  margin-left: 1rem;
}

.tarea-actual {
  margin: 0;
  text-align: center;
}
/* ******* fin timer ******** */

.main-title {
  /* font-family: var(--font-timer); */
}

.btn-agregar-tarea {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
